* {
    border: black 1px;
    border-radius: 0;
    font-family:DejaVu;
    font-weight: bold;
    font-size: 17px;
    color: white;
    min-height: 25px;
}

window#waybar {
    background-color: transparent; 

}

#workspaces button.empty{
background-color: transparent;

}
#workspaces button.focused{
background-color: #FF9999;

}
#language
{
    padding-right: 5px;
}


#clock {
    padding-right: 10px;
    font-weight: bold;
}


#workspaces button {
    background-color:#5A5A5A ;
    padding-left: 7px;
    padding-right: 7px;
}
