* {
    border: black 1px;
    border-radius: 0;
    font-family:DejaVu;
    font-size: 16px;
 color: white;
 min-height: 0;
}

window#waybar {
    background-color: transparent; 
    transition-duration: .5s;

}

#workspaces button.empty{
background-color: transparent;

}
#workspaces button.focused{
background-color: #FF9999;

}
#language
{
    padding-right: 5px;
}


#clock {
    padding-right: 10px;
}


#workspaces button {
background-color:#5A5A5A ;

	padding-left: 10px;
    padding-right: 10px;
    }
